footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .button1{
    background-color: var(--first-color);
    color: #fff;
    margin-top: auto;
    padding: .5rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    border: none;
    margin-top: 1rem;
  }
  
  .button1:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }

  input[type="file"]::file-selector-button {
    background-color: var(--first-color);
    color: #fff;
    margin-top: auto;
    padding: .5rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    border: none;
    margin-top: 1rem;
  }
  
  input[type="file"]::file-selector-button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
  
  .bd-grid1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    -AppHeader-bg: var(--color-canvas-inset);
  }
  .upload{
    margin-left: 8rem;
  }

.imagecent h2{
    font-weight:600;
    font-size: large;
    margin: 1rem;
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-semi);
    font-size: large;
  }