body {
    text-align: center;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;  
    max-width: 800px;  
  }

  .image-container div {
    
    justify-content: center;
    width: 48%;  
    margin-bottom: 20px;
  }

  h3{
    font-weight: 400;
  }


  footer {
    padding-top: 50px;
    background-color: var(--second-color);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
  .contact__button {
    margin-left: 10vw;
  }

  .submitbtn{
    margin-bottom: 2vh;
    background-color: var(--first-color);
      color: #fff;
      margin-top: auto;
      padding: .5rem 1.5rem;
      font-weight: var(--font-semi);
      border-radius: .5rem;
      transition: .3s;
      border: none;
      margin-top: 1rem;
  }


  .hue-hue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }